services:
  iptv-hub:
    build: .
    container_name: iptv-hub
    network_mode: "host"
    restart: always
    ports:
      - "2022:2022"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
